body {

}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 32px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}

p {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 18px;
}

#accent {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 18px;
}
